__pycache__/
src/ml_digits_recognition/.ipynb_checkpoints/
*.egg-info/
/build/
/dist/
/src/ml_digits_recognition/Custom test inputs/
.idea/
/src/ml_digits_recognition/MNIST/
*/.ipynb_checkpoints/*
*/.idea/*
*/.pytest_cache/*
/src/ml_digits_recognition/torchlogs/*
*.coverage
*coverage.xml

